body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
    color: #333;
    margin: 0;
    padding: 0;
}

.section-heading {
    color: #005a87 !important; 
    border-bottom: 2px solid #005a87;
    padding-bottom: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Color hover de Linda */
    border-color: #0056b3;
}

.bg-white {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

